/* Paleta de colores personalizada */
:root {
  --verde-claro: #4EF56E;
  --celeste: #4EF5DF;
  --verde-menta: #4EF5A7;
  --verde-lima: #79F55E;
  --azul-claro: #4ED4F5;
  --menta-claro: #A0F5CD;
}

/* Reset y base */
body {
  margin: 0;
  padding: 0;
    
}


